[Unit]
Description=A timeserver on HTTP
ConditionPathExists=|/usr/bin
After=network.target

[Service]
User=drone
WorkingDirectory=/home/drone/hackathongi-2017
ExecStart=/usr/bin/python2 things/timeserver.py
RestartSec=5
Restart=always
